*{
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #c31432;
}
.conatiner{
    height: 450px;
    width: 60%;
    border: 1px solid black;
    margin: 5% auto;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    height: 25%;
    border-bottom: 2px solid black;
    width: 100%;
}
.header p{
    width: 30%;
    height: 40%;
    margin: 1% auto;
    /* border: 1px solid black; */


}
#para{
    font-size: 2.8vw;
    font-weight: bolder;
    color: #240b36;

}
.btn{
    margin: 1% auto;
    width: 30%;
    /* border: 1px solid white; */
}
.btn1{
    background-color: #c31432;
    border: none;
    height: 40px;
    width: 150px;
    color: #240b36;
    font-size: 2.5vw;
    font-weight: bold;
    border-radius: 5px ;
    margin-left: 2%;
}
.gameboard{
    /* border: 1px solid red; */
    height: 70%;
    margin: 5% auto;
    width: 50%;
    display: flex;
    padding-top: 3%;
    padding-left: 6%;
}

/* styling for box */

#box-1, #box-2 ,#box-3{
    height: 80px;
    width: 80px;
    /* background-color: red; */
    border: 5px solid black;
    border-left: none;
}
#box-1{
    border-top: none;
}
#box-3{
    border-bottom: none;
}

#box-4, #box-5 ,#box-6{
    height: 80px;
    width: 80px;
    /* background-color: green; */
    border: 5px solid black;
}
#box-4{
    border-top: none;
}
#box-6{
    border-bottom: none;

}
#box-7, #box-8 ,#box-9{
    height: 80px;
    width: 80px;
    /* background-color: blue; */
    border: 5px solid black;
    border-right: none;
}
#box-7{
    border-top: none;
}
#box7, #box-9{
    border-bottom: none;
}
.txt{
    text-align: center;
    font-size: 50px;
    color: #240b36;
    font-weight: bolder;
}
.txt-zero{
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: bolder;

}
.disableel{
    pointer-events: none;
}
@media only screen and (max-width: 480px){
    .conatiner{
        width: 100%;
        /* height: 100%; */
        margin-top: 20%;
    }
    .gameboard{
        width: 80%;
        padding-left: 13%;
        /* height: 100%; */
    }
    #box-1,#box-2,#box-3,#box-4,#box-5,#box-6,#box-7,#box-8,#box-9{
        height: 70px ;
        width: 70px;
    } 
    .header p{
        width: 60%;
    }
    #para{
        text-align: center;
        font-size: 8vw;
    }
    .btn1{
        background-color: #c31432;
        height: 35px;
        width: 120px;
        font-size: 3.5vw;
        font-weight: bold;
    }
}
